<nav class="navbar navbar-expand-lg navbar-light bg-white sticky" data-offset="500">
  <div class="container">
    <a href="#" class="navbar-brand">Laboratorio del <span class="text-primary">GLUTEO</span></a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/about">Progetto</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/services">Servizzi</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/contact">Contatti</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary ml-lg-2" routerLink="/">Prova gratuita</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
