<div class="back-to-top"></div>

<header>
  <app-adminnav></app-adminnav>
  <div class="container">
    <div class="page-banner">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-6">
          <nav aria-label="Breadcrumb">
            <ul class="breadcrumb justify-content-center py-0 bg-transparent">
              <li class="breadcrumb-item active"><a routerLink="/admin/dashboard">Dashboard</a></li>
            </ul>
          </nav>
          <h1 class="text-center">Ciao Andrea Paolo</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<app-adminfooter></app-adminfooter>
