<header>
  <app-usernav></app-usernav>
</header>

<div class="page-section">
  <div class="container">
    <div class="page-section" id="about">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12 py-3 wow fadeInUp text-center">
            <h2 class="title-section" style="text-transform: uppercase;">Allenamento 24</h2>
            <div class="divider"></div>
            <span class="subhead" style="text-transform: lowercase;">Focus femorali, alzare il peso su hip e rdl</span>
            <div class="divider"></div>
            <p><strong>Esercizio:</strong> 3x10 con movimento lento - 120" recupero </p>
            <p><strong>Esercizio:</strong> 3x10 con movimento lento - 120" recupero </p>
            <p><strong>Esercizio:</strong> 3x10 con movimento lento - 120" recupero </p>
            <p><strong>Esercizio:</strong> 3x10 con movimento lento - 120" recupero </p>
            <p><strong>Esercizio:</strong> 3x10 con movimento lento - 120" recupero </p>
            <p><strong>Esercizio:</strong> 3x10 con movimento lento - 120" recupero </p>
            <p><strong>Esercizio:</strong> 3x10 con movimento lento - 120" recupero </p>
            <p><strong>Esercizio:</strong> 3x10 con movimento lento - 120" recupero </p>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->
  </div>
</div>

<app-userfooter></app-userfooter>
